@import "bootstrap";


.container {
    background-color: lightblue;

}

ul {
    list-style: none;
}

#id_avatar {
    margin: 0 auto;
    display: block;
}

label {
    display: block;
}

.helptext {
    display: none;
}
