{% extends "base.html"%}
{% load leaflet_tags %}


{%block title%}

{%endblock title%}

{%block content%}


{% leaflet_js %}
{% leaflet_css %}
{% leaflet_map "main" callback="main_map_init" %}


{% endblock content %}

{% block extra_scripts %}

<script type="text/javascript">
        map.setView([51.505, -0.09], 13);

L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);



    {% for profile in profiles %}
    {% if profile.point%}
    L.marker([{{profile.point.y}},{{profile.point.x}}]).addTo(map)
        .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
        .openPopup();
    {% endif %}
    {% endfor %}

</script>

{% endblock extra_scripts %}
