{% extends "base.html"%}
{% load leaflet_tags %}


{%block title%}

{%endblock title%}

{%block content%}


{% leaflet_js %}
{% leaflet_css %}
{% leaflet_map "yourmap" callback="window.map_init_basic" %}


{% endblock content %}

{% block extra_scripts %}

<script type="text/javascript">
function map_init_basic (map, options) {
   $.getJSON("{% url 'profile-json' %}", function(data){
   $.each(data.profiles, function(index, profile){
      L.marker([profile.lat, profile.lng]).addTo(map)
      .bindPopup(profile.username)
      .openPopup();
   })
   })
}

</script>

{% endblock extra_scripts %}
