{% extends "base.html"%}
{% load leaflet_tags %}


{%block title%}

{%endblock title%}

{%block content%}


{% leaflet_js %}
{% leaflet_css %}
{% leaflet_map "yourmap" callback="window.map_init_basic" %}


{% endblock content %}

{% block extra_scripts %}

<script type="text/javascript">
function map_init_basic (map, options) {
    map.setView([51.505, -0.09], 13);

L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);



{% for profile in profiles %}
{% if profile.point%}
L.marker([parseFloat("{{profile.point.y}}".replace(",", ".")),parseFloat("{{profile.point.x}}".replace(",", "."))]).addTo(map)
    .bindPopup('{{profile.user.username}}')
    .openPopup();
{% endif %}
{% endfor %}

   }

</script>

{% endblock extra_scripts %}
