{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% sass_src 'sass/style.scss' %}" type="text/css">
</head>

<body>
    <div class="container">

    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href=" {% url 'homepage' %}">Home</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Link</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if request.user.is_authenticated %}
                            Salut {{request.user.username}}
                            <a href="{% url 'logout' %}">logout</a>
                        {% else %}
                            <a href="{% url 'login' %}">login</a>
                        {% endif %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>
        <div class="row">
            <div class="col-md-12 text-center">

                {% block content %}

                {% endblock content %}

                {% block extra_script %}
                <script src="{% static 'jquery/dist/jquery.js' %}" charset="utf-8"></script>
                {% endblock extra_script %}


            </div>
        </div>
    </div>
</body>

</html>
